@import '@/shared/styles/variables';

.popover_wrapper {
  position: relative;
  
  .trigger {
    cursor: pointer;
  }
  
  .popover {
    position: absolute;
    overflow: hidden;
    min-width: 235px;
    height: fit-content;
    background: rgba(#EDEDED, 0.8);
    border-radius: 12px;
    box-shadow: 0 0 64px 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    z-index: 10000;
    
    &.bottom {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      min-width: 375px;
      border-radius: 14px 14px 0 0;
      padding: 16px 0 0 0;
      
      @media (max-width: 375px) {
        min-width: 100%;
      }
    }
  }
}