.popover_wrapper {
  position: relative;
}

.popover_wrapper .trigger {
  cursor: pointer;
}

.popover_wrapper .popover {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  min-width: 375px;
  height: auto;
  max-height: 338px;
  background: rgba(237, 237, 237, 0.8);
  border-radius: 14px 14px 0 0;
  box-shadow: 0 0 64px 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  z-index: 10000;
  padding: 16px 0 0 0;
}

@media (max-width: 375px) {
  .popover_wrapper .popover {
    min-width: 100%;
  }
}
