@import "./variables.scss";
@import "./default.scss";

@font-face {
  font-family: 'ClashDisplay-Bold';
  src: url('../assets/fonts/ClashDisplay-Bold.woff2') format('woff2'),
  url('../assets/fonts/ClashDisplay-Bold.woff') format('woff'),
  url('../assets/fonts/ClashDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: block;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Display';
  src: url('../assets/fonts/ClashDisplay-Semibold.woff2') format('woff2'),
      url('../assets/fonts/ClashDisplay-Semibold.woff') format('woff'),
      url('../assets/fonts/ClashDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: block;
  font-style: normal;
}